@model IEnumerable<Projet_yassine.Models.CategorieProduit>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorie Produit</h1>

<p>
   <a asp-action="Create"> <button type="button" class="btn btn-primary">Create New</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategorieProduitName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategorieProduitName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategorieProduitID"><button type="button" class="btn btn-warning">Edit</button></a>
                <a asp-action="Details" asp-route-id="@item.CategorieProduitID"><button type="button" class="btn btn-success">Details</button></a> |
                <a asp-action="Delete" asp-route-id="@item.CategorieProduitID"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
